<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Drive Infringements Recife</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <%= stylesheet_link_tag "styles" %>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title"></span>
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation" align="center">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="home">Home</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="queries">Queries</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="team">Team</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="information">Information</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="contact">Contact</a>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title"></span>
        </div>
      </div>
    
      <div class="back">
        <div id="main-content">
          <div class="test">
            <h3>1- O QUE É INFRAÇÃO DE TRÂNSITO</h3>
            <p>
            Quando alguém não observa qualquer preceito do Código de Trânsito Brasileiro (CTB), da legislação complementar ou das resoluções do CONTRAN (Conselho Nacional de Trânsito), fica caracterizada a infração de trânsito.
  
            A comprovação da infração pode ser feita por declaração de Autoridade de Trânsito, por aparelho eletrônico, por algum dispositivo audiovisual ou por qualquer meio tecnologicamente disponível.
  
            Para evitar qualquer tipo de penalidade, basta seguir atentamente as orientações de trânsito nas ruas e ter sempre em mente o que foi aprendido nas aulas de legislação de trânsito e afins.
            </p>
            
            <h3>2- COMO O CTB TRATA AS INFRAÇÕES DE TRÂNSITO?</h>
            
            <p>
            No CTB, além das normas de circulação, estão relacionados alguns artigos que dizem respeito às infrações de trânsito.
            As principais  infrações cometidas são o excesso de velocidade e o fato de não se respeitar a sinalização.
            
            O CTB prevê penalidades como a advertência por escrito, multa, suspensão do direito de dirigir, apreensão do veículo, cassação da CNH (Carteira Nacional de Habilitação) e a obrigatoriedade de frequentar um curso de reciclagem.
            
            A medida administrativa é o ato praticado pelas autoridades de trânsito a fim de impor pena (punição), seguindo as normas e procedimentos estabelecidos pelo Sistema Nacional de Trânsito. São elas:
            
            <ul>
              <li>Remoção do veículo</li>
              <li>Retenção do veículo</li>
              <li>Recolhimento da CNH</li>
              <li>Recolhimento da permissão para dirigir</li>
              <li>Recolhimento do Certificado de Registro</li>
              <li>Recolhimento do Certificado do Licenciamento Anual</li>
              <li>Transbordo do excesso de carga</li>
              <li>Aplicação do bafômetro</li>
              <li>Perícia de substância entorpecente e a posterior restituição aos proprietários, após o pagamento das multas e encargos relacionados à infração.</li>
            </ul>
            Já as <strong>infrações</strong> são punidas com multa estão divididas em 4 categorias, de acordo com a gravidade. São elas:
            <ul>
              <li>Infração de <strong>natureza</strong> gravíssima (onde o condutor perde 7 pontos na carteira), punida com o pagamento de 180 UFIR (Unidade Fiscal de referência, cujo valor é variável)</li>
              <li>Infração de <strong>natureza</strong> grave (o condutor perde 5 pontos na carteira) onde o motorista paga multa equivalente a 120 UFIR</li>
              <li>Infração de <strong>natureza</strong> média (o condutor perde 4 pontos na carteira) e o motorista paga valor referente a 80 UFIR</li>
              <li>Infração de <strong>natureza</strong> leve (o motorista perde 3 pontos na carteira) e é obrigado a pagar um valor referente a 50 UFIR.</li>
            </ul>
            </p>
            
            <h3>3- TABELA OFICIAL DE VALORES DE MULTA DE TRÂNSITO</h3>
            <p>
              Confira abaixo os novos valores de multas para infrações de trânsito, que passaram a vigorar a partir de 01/11/2016.

              ATENÇÃO: O valor da multa é X, mas dependendo da infração ele pode ser multiplicado em até 10x. Não esqueça de fazer essa conta baseada na infração que cometeu, ok?!
            </p>
            
            <h3>3.1 INFRAÇÕES GRAVÍSSIMAS (R$ 293,47 X NÚMERO DE VEZES DE MULTA DA INFRAÇÃO)</h3>
            <p>
              – Avançar sinal vermelho do semáforo: Multa de R$ 293,47<br>
              – Transitar em sentido oposto ao estabelecido: Multa de R$ 293,47<br>
              – Transitar em calçadas, passeios e passarelas: Multa de (R$ 880,41)<br>
              – Transitar em canteiro central, ilhas, refúgios, marcas de canalização, acostamento: Multa de (R$ 880,41)<br>
              – Transitar derramando, lançando ou arrastando carga transportada: Multa de (R$ 293,47) e retenção do veículo<br>
              – Executar retorno em local proibido pela sinalização: Multa de (R$ 293,47)<br>
              – Avançar ou sinal de Parada Obrigatória, cancela/áreas especiais: Multa de (R$ 293,47)<br>
              – Velocidade incompatível à intensa circulação de pedestres: Multa de (R$ 293,47)<br>
              – Dirigir sem CNH: Multa de R $ 293,47 e apreensão do veículo<br>
              – Dirigir com CNH Vencida: Multa de R $ 293,47 * retenção da carteira e do veículo<br>
              – Dirigir sob influência de álcool (ou de qualquer substância entorpecente): Multa de R $ 2934,70 e suspensão do direito de dirigir<br>
              – Levar menor de 10 anos sem banco da frente: Multa  (R$ 293,47 e retenção do veículo<br>
              – Disputar “racha”: Multa de 540 UFIR (R$ 880,41) e apreensão do veículo<br>
              – Transitar em velocidade superior em 50% à máxima permitida: Multa de R$ 293,47 e suspensão do direito de dirigir<br>
              – Motorista envolvido em acidente não prestar socorro à vítima Multa de (R$ 880,41) e suspensão do direito de dirigir<br>
              – Dirigir ameaçando os pedestres que atravessam uma rua ou outro carro: Multa de R $ 293,47 suspensão do direito de dirigir, recolhimento da habilitação e retenção do veículo.<br>
            </p>
            
            <h3>3.2 INFRAÇÕES GRAVES (R$ 195,23 X NÚMERO DE VEZES DE MULTA DA INFRAÇÃO)</h3>
            <p>
              – Transitar pela contramão em via de sentido duplo: Multa de (R$ 195,23)<br>
              – Transitar com caminhão / ônibus em locais e horários não permitidos: Multa de (R$ 195,23)<br>
              – Transitar na faixa / pista exclusiva: Multa de (R$ 195,23)<br>
              – Efetuar conversões em local proibido: Multa de (R$ 195,23)<br>
              – Transitar em marcha a ré, salvo em pequenas manobras: Multa de (R$ 195,23)<br>
              – Estacionar em fila dupla: Multa de (R$ 195,23) e remoção<br>
              – Estacionar afastado da guia (+ de 1 metro): Multa de (R$ 195,23) e remoção<br>
              – Estacionar um passeio ou andar sobre uma faixa de pedestres: Multa de R$ 195,23 e remoção<br>
              – Estacionar ao lado ou sobre o canteiro central, ilhas, refúgios ou equipas: Multa de (R$ 195,23) e remoção<br>
              – Estacionar em local / horário com proibição de parar e estacionar: Multa de (R$ 195,23) e remoção<br>
              – Transitar com veículo com altura acima da permitida: Multa de (R$ 195,23)<br>
              – Não usar cinto de segurança (condutor e passageiros): Multa de (R$ 195,23) e retenção do veículo<br>
              – Seguir o serviço de urgência com prioridade de passagem: Multa de (R$ 195,23)<br>
              – Deixar de indicar com antecedência, através de um gesto regulamentar de braço ou luz indicadora, o início da marcha, estacionamento, mudança de direção ou de faixa de circulação: Multa de (R$ 195,23)<br>
              – Transitar com farol desregulado ou com o facho de luz alto ofuscando os demais condutores: Multa de 120 UFIR (R$ 195,23) e retenção do veículo para regularização<br>
              – Transitar com produzir produzindo fumaça, gases ou partículas acima dos níveis admitidos: Multa de 120 UFIR (R$ 195,23) e retenção do veículo para regularização<br>
              – Transitar em Velocidade superior de 20% a 50% à máxima permitida: Multa de (R$ 195,23)<br>
              – Estacionar um passeio ou andar sobre uma faixa de pedestres: Multa de (R $195,23)<br>
              – Dirigir em mau estado de conservação, comprometendo a segurança: Multa (R$ 195,23) e retenção do veículo para regularização.<br>
            </p>
            
            <h3>3.3. INFRAÇÕES MÉDIAS (R$ 130,16 X NÚMERO DE VEZES DE MULTA DA INFRAÇÃO)</h3>
            <p>
              – Parar sobre a faixa de pedestres, na mudança de sinal luminoso (semáforo): Multa (R$ 130,16)<br>
              – Parar na área de cruzamento, prejudicando demais veículos e pedestres: Multa (R$ 130,16)<br>
              – Transitar em local/horários não permitidos: Multa  (R$ 130,16)<br>
              – Não conservar o veículo de grande porte na faixa da direita: Multa de 80 UFIR (R$ 130,16)<br>
              – Não deslocar com antecedência para manobrar à direita ou à esquerda: Multa de 80 UFIR (R$ 130,16)<br>
              – Veículo parado na via falta de combustível: Multa de 80 UFIR (R$ 130,16) e remoção<br>
              – Transitar em Velocidade superior em até 20% à máxima permitida: Multa de (R$ 130,16)<br>
              – Estacionar a menos de 5 metros da esquina (alinhamento da transversal): Multa de (R$ 130,16) e remoção<br>
              – Estacionar diante de guia rebaixada: Multa de (R$ 130,16) e remoção<br>
              – Estacionar diante de pontos de transporte coletivo: Multa de (R$ 130,16) e remoção<br>
              – Estacionar/parar na contra-mão da direção: Multa de (R$ 130,16)<br>
              – Estacionar em local/horário proibido pela sinalização: Multa de (R$ 130,16) e remoção<br>
              – Parar veículo afastado da guia (+ de 1 metrô): Multa de 80 UFIR (R$ 130,16)<br>
            </p>
            
            <h3>3.4 INFRAÇÕES LEVES (R$ 88,38 X NÚMERO DE VEZES DE MULTA DA INFRAÇÃO)</h3>
            <p>
              – Transitar na faixa/pista da direita, quando esta para a circulação exclusiva: Multa de 50 UFIR (R$ 88,38)<br>
              – Estacionar afastado da guia de 50 cm a 1 metro: Multa de (R$ 88,38) e remoção<br>
              – Estacionar em desacordo com uma regulamentação (Zona Azul, Táxi etc.): Multa de (R$ 88,38) e remoção<br>
              – Parar no passeio/calçada: Multa de 50 UFIR (R$ 88,38)<br>
              – Use buzina prolongada e sucessivamente a qualquer pretexto: Multa de (R$ 88,38)<br>
              – Dirigir-se sem cuidados ou cuidados indispensáveis à segurança: Multa de (R$ 88,38)<br>
            </p>
            
            <p>
              ATENÇÃO: o artigo acompanha a lei na data da sua publicação, para conferir a versão atualizada, veja o Código de Trânsito Brasileiro na íntegra <a href="http://www.planalto.gov.br/ccivil_03/leis/L9503.htm">clicando aqui</a>.
            </p>
          </div>
        </div>
        
      </div>



      <footer class="android-footer mdl-mega-footer">
        <div class="mdl-mega-footer--middle-section">
          <p class="mdl-typography--font-light">DISCLAIMER: This is a sh*tty application.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>